<div class="row">
  <div *ngFor="let test of testovi" class="col-md-4 mb-4" style="text-align: center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{test.naziv}}</h5>
        <p class="card-text">{{test.predmet.naziv}}</p>
        <p class="card-text">{{test.profesor.ime}} {{test.profesor.prezime}}</p>
        <div id="btnHolder">
          <button class="btn btn-success mt-3 w-50">Pokreni test</button>
        </div>
      </div>
    </div>
  </div>
</div>
