<div class="row row-cols-md-1 row-cols-sm-1" style="display: flex; justify-content: right">


  <div class="col mt-4" >
    <div class="card" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#addEkipaModal">
      <div class="card-body">
        <h4 class="card-title" style="font-size: x-large; font-weight: bold">Biologija</h4>
        <p class="card-description">
          <button class="btn btn-success">Kreiraj novo pitanje</button>
        </p>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th style="width: 10%">Broj</th>
              <th style="width: 60%">Pitanje</th>
              <th style="width: 10%">Oblast</th>
              <th style="width: 20%">Akcija</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td>1</td>
              <td>Ko su preci slonova?</td>
              <td>Zivotinje</td>
              <td><button class="btn btn-primary">Odgovori</button>
              <button style="margin-left: 5px" class="btn btn-danger">Obrisi</button></td>


            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
