<div class="row row-cols-md-1 row-cols-sm-1" style="display: flex; justify-content: right">


  <div class="col" *ngFor="let predmet of pitanja" >
    <div class="card" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#addEkipaModal">
      <div class="card-body">
        <h4 class="card-title" style="font-size: x-large; font-weight: bold">{{ predmet.predmetNaziv }}</h4>
        <p class="card-description">
          <button class="btn btn-success">Kreiraj novo pitanje</button>
        </p>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th style="width: 10%">Broj</th>
              <th style="width: 60%">Pitanje</th>
              <th style="width: 10%">Oblast</th>
              <th style="width: 20%">Akcija</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pit of predmet.pitanja; let i = index" >
              <td>{{i+1}}</td>
              <td>{{pit.naziv}}</td>
              <td>{{pit.oblast}}</td>
              <td><button (click)="OtvoriModalOdgovori(pit)" type="button" class="btn btn-primary" >Odgovori</button>
              <button style="margin-left: 5px" class="btn btn-danger">Obrisi</button></td>


            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



</div>

<div *ngIf="odgovoriModal" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Novi semestar za </h5>
        <button type="button" class="btn-close" (click)="odgovoriModal=false;"  aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th style="width: 10%">Broj</th>
              <th style="width: 70%">Odgovor</th>
              <th style="width:10%">Tacan</th>
              <th style="width: 10%">Akcija</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let odg of odgovori; let i=index" >
              <td>{{i+1}}</td>
              <td *ngIf="odg.tekst">{{ odg.tekst }}</td>
              <td *ngIf="odg.esejsko">{{ odg.esejsko }}</td>
              <td>{{odg.tacan}}</td>
              <td> <button style="margin-left: 5px" class="btn btn-danger">Obrisi</button></td>


            </tr>

            </tbody>
          </table>
        </div>
        <div class="mb-3">
          <label class="form-label">Tekst odgovora</label>
          <input class="form-control" type="text"  placeholder="Odgovor">
        </div>
        <div class="mb-3">
          <label class="form-label">Broj bodova</label>
          <input class="form-control" type="number"  placeholder="Bodovi">
        </div>

        <div class="mb-3">
          <label class="form-label">Oblast</label>
          <select class="form-control" >
            <option>Neka</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Tip pitana</label>
          <select class="form-control" >
            <option>Neka</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Godina studija</label>
          <input class="form-control" placeholder="Godina studija"/>
        </div>

        <div class="mb-3">
          <label class="form-label">Ak godina</label>
          <select class="form-control" >

          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Cijena školarine</label>
          <input class="form-control"  placeholder="Cijena školarine" />
        </div>



      </div>
      <div class="modal-footer">
        <button (click)="odgovoriModal=false;" type="button" class="btn btn-secondary" >Close</button>
        <button type="button" class="btn btn-primary" >Save changes</button>
      </div>
    </div>
  </div>
</div>
