#main
{
  margin: 10px;
  width: 25%;
  height: 20%;
  background-color: #e0dede;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: space-between;
  transition-duration: 250ms;
  z-index: 9999;
}
#pitanje
{
  border-radius: 10px;
  background-color: #bbb9b9;
  color: black;
  border: none;
  padding: 20px;
  resize: none;
  overflow: auto;
  height: 100px;
}
#response
{
  overflow: auto;
  background-color: #e0dede;
  width: 95%;
  height: auto;
  border:none;
  text-align: center;
  resize: none;
}
